/* over rides */
body {
  background: url('trianglify-background.svg') no-repeat top left;
  background-size: 100% 100%;
  background-attachment: fixed;
}

#footer {
  background: #000;
  opacity: 0.75;
  margin: 0px;  
}

#masthead {
  min-height: 150px;
}

.blog-post {
  background: #fff;
  opacity: 0.85;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius:4px;
}

#tipue_search_input {
  margin-top: 12px;
}

.navbar-default {
  opacity: 0.75;
  background: #000;
}

.navbar-nav {
  right: 15px;
}

.navbar-search input {
  margin-top: 10px;
}

.main-well {
  background: #fff;
  opacity: 0.75;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}