{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; ">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                      <h1 class="header-title">{{ NEST_INDEX_HEADER_TITLE }}</h1>
                      <div class="header-underline"></div>
                      {% if NEST_INDEX_HEADER_SUBTITLE %}
                      <p class="header-subtitle header-subtitle-homepage">{{ NEST_INDEX_HEADER_SUBTITLE }}</p>
                      {% endif %}
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
        
    <div class="archive-container">
        <div class="container content archive">
            <h2>About</h2>
	       <div>
               <!--img src="./images/mej.jpg"-->
               
               Hi! My name is Matt, or other people may know me as Mattie or spyn. Currently I'm working at iiNet as a developer, working on customer servicing tools, such as <a target="_blank" href="https://toolbox3.iinet.net.au">Toolbox</a> and the <a target="_blank" href="http://ii.net">Signup</a> forms. I'm interested in technology, programming, design, music, board games, skating and running. I'm also a Dad!
            <div>
                <i class="icon-music"></i><span id="lastfm_data"></span>
                <!--span id="trakt_data"></span-->
            </div>
            </div>
        </div>
    </div>
        
    {% if DEFAULT_PAGINATION %}    
    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/{{ articles_page.url }}">{{ NEST_INDEX_CONTENT_TITLE }} {% if articles_page.has_previous() %}<small>- page {{ articles_page.number }}</small>{% endif %}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles_page.object_list %}
                <dt>{{ article.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% include 'pagination.html' %}
    {% else %}
    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles %}
                <dt>{{ article.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% endif %}
{% endblock content %}
