{% extends "base.html" %}

{% block title %}LifeStream - {{ super() }}{% endblock title %}
{% block description %}Recent Activities{% endblock description %}
{% block stylesheets %}
<link href="./theme/css/lifestream.css" rel="stylesheet">
{% endblock stylesheets %}
{% block javascripts %}
<script src="/js/jquery.lifestream.min.js"></script>
{% endblock javascripts %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; ">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                      <h1 class="header-title text-uppercase">Lifestream</h1>
                      <div class="header-underline"></div>
                      <p class="header-subtitle header-subtitle-homepage">Recent Activities</p>
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="archive-container">
        <div class="container content archive">
            <h2>Recent Activities</h2>
            <div id="lifestream">&nbsp;</div>
        </div>
    </div>
                
    <script>
      $("#lifestream").lifestream({
        limit: 50,
        list:[
          {
            service: "github",
            user: "spyn"
          },
          {
            service: "twitter",
            user: "spyn"
          },
          {
            service: "bitbucket",
            user: "spyn"
          },
//          {
//            service: "bitly",
//            user: "spyn"
//          },
          {
            service: "foursquare",
            user: "spyn"
          },
          {
            service: "lastfm",
            user: "spyn"
          },
          {
            service: "reddit",
            user: "spyn"
          },
          {
            service: "youtube",
            user: "evilspyn"
          }
        ]
      });
    </script>
        
{% endblock content %}
