{% extends 'base.html' %}

{% block title %}
Links · {{ super() }}
{% endblock title %}

{% block head_description %}
Links and blogroll for {{ SITENAME|striptags|e }} blog.
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
<meta property="og:title" content="Links · {{ SITENAME|striptags|e }}"/>
<meta name="twitter:title" content="Links · {{ SITENAME|striptags|e }}">
<meta property="og:url" content="{{ SITEURL }}/links.html" />
<meta property="og:description" content="Links and blogroll for {{ SITENAME|striptags|e }}" />
<meta name="twitter:description" content="Links and blogroll for {{ SITENAME|striptags|e }}">
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% from '_includes/_defaults.html' import FEATURED_IMAGE with context %}
{% if FEATURED_IMAGE %}
<meta property="og:image" content="{{FEATURED_IMAGE}}" />
<meta name="twitter:image" content="{{FEATURED_IMAGE}}" >
{% endif %}
{% endblock meta_tags_in_head %}

{% block content %}

<div class="row-fluid">
    <header class="page-header span10 offset2">
    <h1><a href="{{ SITEURL }}/links.html">Links</a></h1>
    </header>
</div>
<div class="row-fluid">
    <div class="span8 offset2">
        <ul>
            {% for link in LINKS %}
            <li>
            <a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
