{% extends "base.html" %}

{% block title %}Career Timeline - {{ super() }}{% endblock title %}
{% block stylesheets %}
<link href="./theme/css/timeline.css" rel="stylesheet">
<link href="./theme/css/featherlight.min.css" type="text/css" rel="stylesheet" />
<link href="./theme/css/featherlight.custom.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}
{% block javascripts %}
<script src="./theme/js/jquery-1.11.3.min.js"></script>
<script src="./theme/js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./theme/js/timeline.js"></script>

{% endblock javascripts %}

{% block description %}{{ NEST_TAGS_HEAD_DESCRIPTION }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/theme/img/iiworking.jpg'); background-position: center; ">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                      <h1 class="header-title text-uppercase">Career Timeline</h1>
                      <div class="header-underline"></div>
                      <p class="header-subtitle header-subtitle-homepage">A timeline of my career</p>
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="timeline-container">
        <div class="timeline-bsmod">
            <h2 id="career">Career</h2>

            <ul class="timeline">

              <li class="timeline-inverted">
                <a href="#" data-featherlight="#show-rac" data-featherlight-variant="fixwidth">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="/theme/img/timeline/rac.jpg" alt="">
                    <div class="lightbox" id="show-rac">
                      <h3>RAC - Developer - June 2017 to Present</h3>
                      <p>- Sitecore</p>
                    </div>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-heading"><a href="http://rac.com.au" target="_blank">RAC</a></h4>
                          <h4 class="subheading">.NET Developer</h4>
                          <h4 class="subheading">June 2017 - Present</h4>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted"></p>
                          <p><a href="http://rac.com.au">RAC</a> - <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C# .NET / Sitecore</a></p>
                            <p></p>
                      </div>
                  </div>
                </a>
              </li>


            <li class="">
                <a href="#" data-featherlight="#show-01-iinet" data-featherlight-variant="fixwidth">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="/theme/img/timeline/0-iinet.jpg" alt="">
                    <div class="lightbox" id="show-01-iinet">
                      <h3>iiNet - Senior Programmer - June 2010 to June 2017</h3>
                      <p>TBA</p>
                    </div>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-heading"><a href="http://iinet.net.au" target="_blank">iiNet</a></h4>
                          <h4 class="subheading">Senior Programmer</h4>
                          <h4 class="subheading">June 2010 - Present</h4>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted"></p>
                          <p><a href="http://iinet.net.au">Residential Signup</a> - <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C# .NET</a></p>
                          <p><a href="https://toolbox3.iinet.net.au">Toolbox: Account Tools</a> - <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C# .NET</a></p>
                            <p></p>
                      </div>
                  </div>
                </a>
              </li>
<!--
                <div id="info-01-iinet" class="timeline-box">
                    blah blah blah <br />
                    blah blah blah <br />
                    blah blah blah <br />
                </div>
-->                
              <li class="timeline-inverted">
                <a href="#" data-featherlight="#show-02-greenbase" data-featherlight-variant="fixwidth">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="/theme/img/timeline/1-greenbase.jpg" alt="">
                  </div>
                  <div class="lightbox" id="show-02-greenbase">
                      <h3>Programmer at Greenbase</h3>
                      <p>TBA</p>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-headering"><a href="http://greenbase.com.au" target="_blank">Greenbase</a></h4>
                          <h4 class="subheading">Programmer</h4>
                          <h4 class="subheading">March 2004 - June 2010</h4>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted"></p>
                            <p>Envionmental Accounting Tools - ASP/C#</p>
                            <p>Microsoft SQL Server administration</p>
                            <p>Systems, IT support and maintenance</p>
                      </div>
                  </div>
                </a>
              </li>

              <li class="">
                <a href="#" data-featherlight="#show-03-minetec" data-featherlight-variant="fixwidth">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="/theme/img/timeline/3-minetec.jpg" alt="">
                  </div>
                  <div class="lightbox" id="show-03-minetec">
                      <h3>Programmer at Minetec</h3>
                      <p>TBA</p>
                  </div>
                   <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-headering"><a href="http://minetec.com.au" target="_blank">Minetec</a></h4>
                          <h4 class="subheading">Programmer &amp; IT Support</h4>
                          <h4 class="subheading">April 2002 - March 2004</h4>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted"></p>
                            <p>Minesite Blackbox - Visual Basic</p>
                            <p>General IT support and computer maintenance</p>
                      </div>
                  </div>
                </a>
              </li>

              <li class="timeline-inverted">
                <a href="#" data-featherlight="#show-04-lynx" data-featherlight-variant="fixwidth">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="/theme/img/timeline/4-lynx.jpg" alt="">
                  </div>
                  <div class="lightbox" id="show-04-lynx">
                      <h3>Programmer at Lynx</h3>
                      <p>TBA</p>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-headering"><a href="http://lynxrail.com/" target="_blank">Lynx Engineering</a></h4>
                          <h4 class="subheading">Programmer</h4>
                          <h4 class="subheading">March 2001 - June 2001</h4>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted"></p>
                            <p>Internal timesheet application - Win32 C</p>
                      </div>
                  </div>
                </a>
              </li>
                
              <li class="">
                <a href="#" data-featherlight="#show-05-ashcourt" data-featherlight-variant="fixwidth">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="/theme/img/timeline/1.jpg" alt="">
                  </div>
                  <div class="lightbox" id="show-05-ashcourt">
                      <h3>Sys Admin at Ashcourt</h3>
                      <p>TBA</p>
                  </div>
                   <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-headering">Ashcourt Enterprises</h4>
                          <h4 class="subheading">Linux Administrator</h4>
                          <h4 class="subheading">2000</h4>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted"></p>
                            <p>Postfix and Apache under Red Hat Linux</p>
                      </div>
                  </div>
                </a>
              </li>                

              <li class="timeline-inverted">
                <a href="#" data-featherlight="#show-06-comfix" data-featherlight-variant="fixwidth">
                  <div class="timeline-image">
                      <img class="img-circle img-responsive" src="/theme/img/timeline/6-comfix.jpg" alt="">
                  </div>
                  <div class="lightbox" id="show-06-comfix">
                      <h3>Support at Comfix</h3>
                      <p>TBA</p>
                   </div>
                   <div class="timeline-panel">
                      <div class="timeline-heading">
                          <h4 class="timeline-headering">Comfix</h4>
                          <h4 class="subheading">IT Support</h4>
                          <h4 class="subheading">1997 - 1999</h4>
                      </div>
                      <div class="timeline-body">
                          <p class="text-muted"></p>
                            <p>Repairs to Commodore Amigas, Commodore 64s, PCs and various monitors</p>
                            <p>General IT support and computer maintenance</p>
                      </div>
                  </div>
                </a>
              </li>
            </ul>
        </div>
        <div class="timeline-footer">
            <a href="https://au.linkedin.com/in/mattfinch0" target="_blank">LinkedIn</a> :: resume available <a href="mailto:matthew.ellins@gmail.com?subject=One Resume, please!">on request</a> :: timeline inspired by <a href="https://github.com/kirbyt/timeline-jekyll-theme" target="_blank">kirbyt</a> :: discovered by <a href="nick-howson.github.io" target="_blank">nick howson</a>
        </div>
    </div>
{% endblock content %}


