{% macro comments(article) %}
    {% if DISQUS_SITENAME and SITEURL and article.status != 'draft' %}
<section>

    <div class="comments">
        {% from '_includes/disqus_scripts.html' import disqus_comments_script with context %}
        {{ disqus_comments_script(article) }}
    </div>

</section>
    {% endif %}
{% endmacro %}

{% macro comments_script(article) %}
    {% if DISQUS_SITENAME and SITEURL and article.status != 'draft' %}
        {% from '_includes/disqus_scripts.html' import disqus_misc_scripts with context %}
        {{ disqus_misc_scripts() }}
    {% endif %}
{% endmacro %}

